# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = quotesbot.settings

[scrapyd]
application = scrapy_heroku.app.application

[deploy]
url = http://bikeoutlet.herokuapp.com:80/
project = quotesbot
username = admin
password = sammysammy